@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/keyframes";
@import "./Base/base";
@import "./Composants/buttons";
@import "./Composants/loader";
@import "./Composants/heart";
@import "./Layout/container";
@import "./Layout/header";
@import "./Layout/home";
@import "./Layout/restaurant";
@import "./Layout/menu";
@import "./Layout/footer";

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  margin: 0;
};

.imgProduct {
  width: 100%;
  height: 100%;
};
table {
  @include mobile {
    font-size: 2.5vw;
    .btn-dark {
      width: 8vw;
      padding: 1vw;
    }
  }
}